@import "../abstract/variaveis.scss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,600&display=swap");

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: $cor-primaria;
    cursor: crosshair;
    height: 100%;
    width: 100%;
  }
  
.textos {
    text-shadow: 2px 2px 4px #000000;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 70px;
    &__titulo {
        color: $cor-texto;
        font-size: 48px;
        width: 100%;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }
    &__paragrafo {
        font-size: 18px;
        max-width: 30%;
        color: darken($cor-texto, 20%);
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
}

.painel {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    margin-left: 10%;
    width: 80%;
    border-radius: 2%;
    background-color: $cor-secundaria;
    &__logo{
        z-index: -2;
        margin-top: 5%;
        margin-left: 15%;
    }
    &__fundo {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    &__textos {
        margin-top: 20%;
        flex: 1 3%;
        padding-right: 5px;
        color: $cor-texto;
    }
    &__titulo {
        text-shadow: 2px 2px 4px #000000;
        max-width:700px;
        font-size: 56px;
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }
    &__paragrafo {
        text-shadow: 2px 2px 4px #000000;
        color: darken($cor-texto, 5%);
        font-size: 18px;
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }
    &__containerMestre{
        display: grid;
        margin-right: 6%;
        overflow: hidden;    
    }
    &__gradiente {
        width: 100%;
        margin: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    &__imagem {
        background: rgb(228, 68, 73);
        background: linear-gradient(114deg, rgba(228, 68, 73, 1) 0%, rgba(243, 106, 111, 1) 100%);
        border-radius: 20px;
        max-width: 552px;
        width: 100%;
        height: 100%;
        max-height: 464px;
    }
    &__click {
        padding: 10px 20px;
        font-size: 26px;
        height: 72px;
        width: 350px;
        border-radius: 20px;
        font-family: "Josefin Sans", sans-serif;
        color: #460017;
        border: none;
        &:hover {
            background-color: #b35a78;
            transition-duration: 0.5s;
            
        }
    }
    &__containerDois{
        margin-left: 6%;
        width: 100%;
        max-height: 200px;
        display: flex;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        background-color: $cor-gradiente-dois;
        padding: 20px;
    }
    &__containerTres{
        border-radius: 20px;
        margin: 5%;
        padding: 7%;
        margin-left: 6%;
        width: 100%;
        max-height: 200px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: $cor-gradiente-dois;
        object-fit: paint;
    }
}
